<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/" class="border-shadow">
                    <i class="fas fa-angle-double-left"></i>
                     Tous les utilisateurs</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Nouvel utilisateur</h2>
            <span class="text-light">Remplissez ce formulaire pour ajouter un nouveau utilisateur</span>
        </div>
        <form action="user_api" id="update_user" method="post">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Nom : </label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name"  value="" placeholder="Entrer le nom">
                </div>
                <div class="form-group">
                    <label for="email" class="text-light">Email : </label>
                    <input type="text" name="email" value="" placeholder="Entrer l'email">
                </div>
                <div class="form-group-radio">
                    <label for="gender" class="text-light">Genre : </label>
                    <div class="radio">
                        <label>
                        <input type="radio" name="gender" value="Masculin" placeholder="Entrer l'email">
                        Masculin</label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" name="gender" value="Feminin" placeholder="Entrer l'email">
                        Feminin</label>
                    </div>
                </div>
                <div class="form-group-radio">
                    <label for="status" class="text-light">Statut : </label>
                    <div class="radio">
                        <label>
                        <input type="radio" name="status" value="Active" placeholder="Entrer l'email">
                        Active</label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" name="status" value="Inactive" placeholder="Entrer l'email">
                        Inactive</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Ajouter</button>
                </div>
            </div>
        </form>
    </div>
</main>